<md-toolbar class='toolbar-head md-tall'>
  <div class="md-toolbar-tools container container-xlg nopadding" layout-wrap layout-align="space-between center" layout='row' layout-sm="column">
      
      <div id="button-menu-mobile" ng-click="toggleSidebar()" flex="30" flex-sm="10">
        <hr><hr><hr>
      </div>        

      <a href="/" class='logo' flex='20' flex-sm='50' ><img src="/images/logo.png"></a>
      
      <div class="menu-wrapper" flex="70" flex-sm="30" >
        <nav class="menu" layout="row" layout-align="end center">
          <a href="#">HOME</a>
          <a href="#">ABOUT US</a>
          <a href="#">SpacES</a>
          <a href="#">SERVICES</a>
          <a href="#">PRESS</a>
          <a href="#">BLOG</a>
          <a href="#">CONTACT</a>
        </nav>
      </div>

  </div>
</md-toolbar>
