<div class="landing-wrapper" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
	<div class="dots"></div>
     			<video autoplay loop poster="assets/img/bg-image.jpg" id="landing-video">
          <source src="/videos/spaceshiplabs.mp4" type="video/mp4">
          </video>
          <div class="landing-content center-content">
          	<h1 data-wow-duration="0.8s" class="wow fadeInUp">SPACESHIP LABS</h1>
          	<p data-wow-delay="0.8s" data-wow-duration="0.8s" class="wow fadeInUp">
          		<strong>SOFTWARE QUE SE VE BIEN</strong>
          	</p>
          </div>

          <a href="#" class="move-arrow"><img src="/images/flecha.png" alt=""></a>
        </div>

        <div class="container container-alt center-content">
        	<h1>Noticias recientes</h1>
        </div>
        <div class="news-wrapper" layout="row" layout-sm="column">
        	<div 
        	class="news-item"
        	style="background: url(/images/foto1.jpg) no-repeat"
        	flex="33"
        	flex-sm="100"
        	>
        	<a href="#" class="absolute-link"></a>
        	<div class="news-item-excerpt">
        		<p>Lanzamiento rediseño mimbu</p>
        	</div>     
        </div>
        <div 
        class="news-item"
        style="background: url(/images/foto2.jpg) no-repeat"
        flex="33"
        flex-sm="100"
        >
        <a href="#" class="absolute-link"></a>
        <div class="news-item-excerpt">
        	<p>Nueva app Yellow Transfers</p>
        </div>     
      </div>
      <div 
      class="news-item"
      style="background: url(/images/foto3.jpg) no-repeat"
      flex="33"
      flex-sm="100"
      >
      <a href="#" class="absolute-link"></a>
      <div class="news-item-excerpt">
      	<p>App en proceso</p>
      </div>     
    </div>                              
  </div>

  <div class="our-services-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
  	<div class="services-landing-content container container-xlg container-no-padding center-content">
  		<h1 data-wow-duration="0.8s" class="wow fadeInUp">Nuestros servicios</h1>

  		<div
  		class="services-landing-items" 
  		layout="row"
  		layout-align="space-between start"
  		>
  		<div 
  		class="services-landing-item"
  		flex="20"
  		>
  		<!--<img src="/images/icono_blanco.png" alt="">-->
  		<h5>UI/UX Design</h5>
  	</div>

  	<div 
  	class="services-landing-item"
  	flex="20"
  	>
  	<!--<img src="/images/iconos2_blanco.png" alt="">-->
  	<h5>Branding</h5>
  </div>

  <div 
  class="services-landing-item"
  flex="20"
  >
  <!--<img src="/images/icono3_blanco.png" alt="">-->
  <h5>Marketing</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
</div>

<div 
class="services-landing-item"
flex="20"
>
<!--<img src="/images/icono4_blanco.png" alt="">-->
<h5>Consulting</h5>
</div>                                                                           
</div>

</div>
</div> 

<div class="spacees-landing container-alt" ng-style="style()" full-screen-wrapper>
	<div class="container container-xlg">
		<div class="container-sm">
			<img src="/images/spacees.png" alt="" />
			<h2>ENTERPRISE SOFTWARE</h2>
			<p>Plataforma para el manejo completo de la empresa desde recursos humanos, contabilidad, hasta la capacitación y canalización de ventas tanto electrónicas como analogas.</p>
			<div class="action-btn-wrap">
				<a href="#" class="action-btn">VIEW</a>
			</div>
		</div>
	</div>
</div>     

<div class="mentions-landing" layout="column" layout-align="center center" ng-style="style()" full-screen-wrapper>
	<div class="mentions-landing-content container container-xlg center-content">
		<h1>Menciones</h1>

		<div class="mention-landing-row" layout="row">
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/imco.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/cnn.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/telemundo.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/televisa.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/eluniversal.png) center no-repeat;"
			flex="20"></a>                                                                                                  
		</div>

		<div class="mention-landing-row" layout="row">
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/excelsor.png) center no-repeat;"
			flex="20"></a>
			<a 
			class="mention-landing-item"
			style="background: url(/images/lajornada.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/animalpolitico.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/opendata.png) center no-repeat;"
			flex="20"></a>
			<a href="#"
			class="mention-landing-item"
			style="background: url(/images/imco.png) center no-repeat;"
			flex="20"></a>                                                                                                
		</div>                  

	</div>
</div>   