<md-sidenav id="sidebar-menu" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak>
<md-toolbar class="md-theme-light">
      <md-button class="md-fab md-primary" ng-click="closeSidebar()" md-theme="cyan" id="close-button" aria-label="Profile">
          <i class="icon-tache-01"></i>
      </md-button>
</md-toolbar>	      
	<md-content class="md-padding">
		<ul>
			<li>
				<md-button class="md-primary">
					<a href="#">HOME</a>
				</md-button>
			</li>
			<li>
				<md-button class="md-primary">
					<a href="#">ABOUT US</a>
				</md-button>	
			</li>
			<li>
				<md-button class="md-primary">
					<a href="#">SpacES</a>
				</md-button>	
			</li>
			<li>
				<md-button class="md-primary">
					<a href="#">SERVICES</a>
				</md-button>	
			</li>
			<li>
				<md-button class="md-primary">
					<a href="#">PRESS</a>
				</md-button>	
			</li>	
			<li>
				<md-button class="md-primary">
					<a href="#">BLOG</a>
				</md-button>	
			</li>	
			<li>
				<md-button class="md-primary">
					<a href="#">CONTACT</a>
				</md-button>	
			</li>											
		</ul>
	</md-content>
</md-sidenav>	